<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>EJB Website</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
      #students {
        height: 360px;
        width: 50%;
        object-fit:cover;
      }

    </style>
    
  </head>
  
  <body>
    <div class="container text-center">
    
    <h1 class="mt-4 mb-4">ELVIESJAMES C. BINAG</h1>
    
    <img id="students" src="https://1b64b382-2851-4869-b99c-fc161a5614a4-00-2s33v5hkkyyk2.sisko.replit.dev/static/student.jpeg.jpg" class="img-fluid mb-4" alt="student">
    
    <h2 class="mb-4">
      About Me
    </h2>
    
    <p class="lead mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
      
    <h2 class="mb-4">
      My Goals
    </h2>
    
    <p>
      TO DO
    </p>
      
      <button  class="btn btn-primary btn-lg"> Contact Me </button>
    </div>
    
  </body>
</html>